/* 
.swiper-container {
    width: 100%;
    height: 100%;
  
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .swiper-slide h2 {
    font-size: 2rem;
    font-weight: bold;
  }
   */