@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Museo',  sans-serif;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex: 0 0 10%;
  background-color: #ffffff; /* Có thể thay đổi */
}

.main-content {
  flex: 0 0 80%;
  overflow-y: auto;
  padding: 1rem;
  background-color: #f3f4f6; /* Tailwind bg-gray-100 */
}

.footer {
  flex: 0 0 10%;
  background-color: #ffffff; /* Có thể thay đổi */
}
