@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 3000px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo #root chiếm toàn bộ chiều cao màn hình */
  }

  /* Reset và đảm bảo body chiếm toàn bộ chiều cao màn hình */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #a32626;
  }
